<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEYONDBREATHE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <h3>BEYONDBREATHEYOGA</h3>
            <h4>Pricing</h4>
            <div class="dropdown">
                <a>About Us▼</a>
                <div onclick="" class="dropdown-content">
                    <h4>Company</h4>
                    <a href="#">Our Mission</a>
                    <a href="#">Our Coaches</a>
                    <a href="#">Our Team</a>
                    <a href="#">Articles</a>
                    <a href="#">Press & Media</a>
                    <a href="#">Careers</a>
                    <a href="#">Community</a>

                    <hr>

                    <h4>Support</h4>
                    <a href="#">FAQ</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <button class="login-btn">log in</button>
            <button class="try-btn">Try For Free</button>

        </div>
        <div class="page1">
            <h1>Holistic <br> Fitness for <br> Body, Mind & Soul </h1>
        </div>
        <div class="page1-line2">
            <h1>Balance Your Body & Mind with LIVE Personal Coaching</h1>
        </div>
        <button class="try-3day-btn">Start your 3-day free trial</button>
        <div class="container-blr"></div>
    </div>
    <div class="page2">
        <div class="li-div">
            <ul>
                <li>Men'sHealth</li>
                <li>Woman's World</li>
                <li>Will+good</li>
                <li>Women'sHealth</li>
                <li>LA YOGA</li>
                <li>Yahoo!life</li>
            </ul>
        </div>
        <div class="page2-text">
            <a>𝑼𝒏𝒍𝒐𝒄𝒌 𝒀𝒐𝒖𝒓 𝑷𝒐𝒕𝒆𝒏𝒕𝒊𝒂𝒍 𝒘𝒊𝒕𝒉 𝑯𝒐𝒍𝒊𝒔𝒕𝒊𝒄 𝑭𝒊𝒕𝒏𝒆𝒔𝒔?</a>
        </div>
        <div class="page2-taxt2">
            <a>Strong Body, Clear Mind, Every Day</a>
        </div>
        <div class="page2-card">
            <div class="page2-card1">
                <h2>Physical fitness</h2>
                <p>Strength building <br>
                    Stretching <br>
                    Cardio</p>
            </div>
            <div class="page2-card2">
                <h2>Mental fitness</h2>
                <p>Breathing <br>
                    Meditation <br>
                    Sleep</p>
            </div>
        </div>
    </div>
    <div class="page3">
      <div class="page3-div1">
        <img src="/static/img/woman-yoga.png" alt="" class="page3-img">
        <!-- <p>Where does it hurt? Our tailored exercise program targets the specific areas where you feel pain.</p> -->
      </div>
      <div class="page3-div2">
        <h1>What conditions We Treat</h1>
       <p>Where does it hurt? Our tailored exercise program targets the specific areas where you feel pain.</p>
      </div>
      
    </div>
</body>

</html>